#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.features {
  display: flex;
  flex-direction: column;
}
.features__icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.features__item {
  flex: 1;
  padding: 2.5rem;
}
.features__item--title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
.hero {
  background-image: url("../../assets/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.hero__content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero__subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero__text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
  .hero__content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
  .hero__subtitle {
    font-size: 1.5rem;
  }
  .hero__text {
    font-size: 1.2rem;
  }
}
.signIn {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}
.signIn__icon {
  font-size: 5rem;
}
.signIn__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.signIn__wrapper label {
  font-weight: bold;
}
.signIn__wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.signIn__remember {
  display: flex;
}
.signIn__remember label {
  margin-left: 0.25rem;
}
.signIn__button {
  display: block;
  width: 93.5%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: white;
}

.name {
  color: #fff;
  margin-bottom: 2rem;
}
.name__button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}
.account__content {
  width: 100%;
  flex: 1;
}
.account__content--title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.account__content--amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.account__content--description {
  margin: 0;
}
.account__transaction--button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }
  .account__transaction {
    flex: 0;
  }
  .account__transaction--button {
    width: 200px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.nav__main {
  display: flex;
  align-items: center;
}
.nav__main--logo {
  max-width: 100%;
  width: 200px;
}
.nav__item {
  text-decoration: none;
  font-weight: bold;
  color: #2c3e50;
}
.nav__item:hover {
  text-decoration: underline;
}
.nav__item--icon {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
.footer__text {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
